/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-env
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/bin/bcbio-variation-recall
/test/data/ensemble/work
/test/data/ensemble/*.gz
/test/data/ensemble/*.gz.tbi
/test/data/recall/*.gz
/test/data/recall/*.gz.tbi
